{% extends 'backend/base_backend.html' %}
{% load humanize %}
{% block title_header %}

<!-- Page title -->
<div class="page-header d-print-none">
    <div class="row align-items-center">
        <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
            Overview
        </div>
        <h2 class="page-title">
            Dashboard
        </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
            <span class="d-none d-sm-inline">
            <a href="#" class="btn btn-white">
                New view
            </a>
            </span>
            <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
            Create new report
            </a>
            <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
            </a>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content_body %}

<div class="row row-deck row-cards">
    <div class="col-sm-7 col-lg-4">
    <div class="card">
        <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="subheader">Pembelian</div>
            <div class="ms-auto lh-1">
            <div class="dropdown">
                <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 7 days</a>
                <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item active" href="#">Last 7 days</a>
                <!-- <a class="dropdown-item" href="#">Last 30 days</a>
                <a class="dropdown-item" href="#">Last 3 months</a> -->
                </div>
            </div>
            </div>
        </div>
        <div class="h1 mb-3">
            {{beli.0.total}}
        </div>
        <div class="d-flex mb-2">
            <div>Conversion rate: Rp. {{beli.0.total_amount|floatformat:2|intcomma}}</div>
            <div class="ms-auto">
            <span class="text-green d-inline-flex align-items-center lh-1">
                7% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="3 17 9 11 13 15 21 7" /><polyline points="14 7 21 7 21 14" /></svg>
            </span>
            </div>
        </div>
        <div class="progress progress-sm">
            <div class="progress-bar bg-blue" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <span class="visually-hidden">
                75% Complete
            </span>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-sm-7 col-lg-4">
    <div class="card">
        <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="subheader">Penjualan</div>
            <div class="ms-auto lh-1">
            <div class="dropdown">
                <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 7 days</a>
                <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item active" href="#">Last 7 days</a>
                <!-- <a class="dropdown-item" href="#">Last 30 days</a>
                <a class="dropdown-item" href="#">Last 3 months</a> -->
                </div>
            </div>
            </div>
        </div>
        <div class="d-flex align-items-baseline">
            <div class="h1 mb-0 me-2">Rp. {{jual.0.total_amount|floatformat:2|intcomma}}</div>
            <div class="me-auto">
            <span class="text-green d-inline-flex align-items-center lh-1">
                8% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="3 17 9 11 13 15 21 7" /><polyline points="14 7 21 7 21 14" /></svg>
            </span>
            </div>
        </div>
        </div>
        <div id="chart-revenue-bg" class="chart-sm"></div>
    </div>
    </div>
    <div class="col-sm-7 col-lg-4">
    <div class="card">
        <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="subheader">Sisa Stok</div>
            <div class="ms-auto lh-1">
            <div class="dropdown">
                <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 7 days</a>
                <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item active" href="#">Last 7 days</a>
                <!-- <a class="dropdown-item" href="#">Last 30 days</a>
                <a class="dropdown-item" href="#">Last 3 months</a> -->
                </div>
            </div>
            </div>
        </div>
        <div class="d-flex align-items-baseline">
            <div class="h1 mb-3 me-2">
                {% if stok %}
                {{stok.0.stok}}
                {% else %}
                {{stok.0|length}}
                {% endif %}
            </div>
            <div class="me-auto">
            <span class="text-yellow d-inline-flex align-items-center lh-1">
                0% <!-- Download SVG icon from http://tabler-icons.io/i/minus -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="5" y1="12" x2="19" y2="12" /></svg>
            </span>
            </div>
        </div>
        <div id="chart-new-clients" class="chart-sm"></div>
        </div>
    </div>
    </div>
    <div class="col-sm-12 col-lg-12">
    <div class="card">
        <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="subheader">Transaksi Pembelian Barang</div>
            <div class="ms-auto lh-1">
            <div class="dropdown">
                <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pilih Vendor</a>
                <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item active" href="#">Vendor 1</a>
                <a class="dropdown-item" href="#">Last 30 days</a>
                <a class="dropdown-item" href="#">Last 3 months</a>
                </div>
            </div>
            </div>
        </div>
        <div class="d-flex align-items-baseline">
            <div class="h1 mb-3 me-2">{{transaksi_beli}}</div>
            <div class="me-auto">
            <span class="text-green d-inline-flex align-items-center lh-1">
                4% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="3 17 9 11 13 15 21 7" /><polyline points="14 7 21 7 21 14" /></svg>
            </span>
            </div>
        </div>
        <div id="chart-active-users" class="chart-sm"></div>
        </div>
    </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">
            <h3 class="card-title">10 Penjualan Terakhir</h3>
            </div>
            <table class="table card-table table-vcenter">
            <thead>
                <tr>
                <th>Vendor</th>
                <th colspan="2">Total</th>
                </tr>
            </thead>
            <tbody>
                
                {% for tn in ten_sale %}
                <tr>
                    <td>{{tn.vendor_name__nama_pelanggan}}</td>
                    <td>{{tn.total_amount}}</td>
                    <td class="w-50">
                        <div class="progress progress-xs">
                        <div class="progress-bar bg-primary" style="width: 71.0%"></div>
                        </div>
                    </td>
                </tr>
                {% empty %}
                {% endfor %}
                
                
            </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">
            <h3 class="card-title">10 Produk Terbeli</h3>
            </div>
            <table class="table card-table table-vcenter">
            <thead>
                <tr>
                <th>Vendor</th>
                <th colspan="2">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for tn in ten_ps %}
                <tr>
                    <td>{{tn.vendor_name__nama_vendor}}</td>
                    <td>{{tn.total_amount}}</td>
                    <td class="w-50">
                        <div class="progress progress-xs">
                        <div class="progress-bar bg-primary" style="width: 71.0%"></div>
                        </div>
                    </td>
                </tr>
                {% empty %}
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <div class="card-header border-0">
            <div class="card-title">Performance Marketing</div>
            </div>
            <div class="position-relative">
           
            <div id="chart-development-activity"></div>
            </div>
            <div class="card-table table-responsive">
            <table class="table table-vcenter">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Pembelian</th>
                    <th>Penjualan</th>
                </tr>
                </thead>
                <tbody>
                {% for kr in kar %}
                <tr>
                    <td class="w-1">
                    {{kr.nama}}
                    </td>
                    <td class="td-truncate">
                    <div class="text-truncate">
                        {{kr.has_karyawan_ps|length}}
                    </div>
                    </td>
                    <td class="text-truncate">{{kr.has_karyawan_ss|length}}</td>
                </tr>
                {% endfor %}
                
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}