{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'ptpha/img/Favicon.jpg' %}" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <title>PT PHA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ptpha/css/desktop.css' %}" />
    <style></style>
    <link rel="stylesheet" type="text/css" href="{% static 'ptpha/css/styleguide.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'ptpha/css/globals.css' %}" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="desktop" />
    <div class="tablet screen">
      <div class="hero-7-I45tVA">
        <div class="group-1389-49xZnD">
          <div class="group-1388-G9laDQ">
            <div class="supplier-alat-keseha-5r9vgD nunito-extra-bold-eerie-black-28px">
              Supplier Alat Kesehatan Berkualitas dengan harga terjangkau
            </div>
            <div class="pt-putra-haryanda-al-5r9vgD nunito-normal-bright-gray-14px">
              PT Putra Haryanda Alkesindo bergerak dibidang distributor/importir alat kedokteran &amp; perlengkapan
              rumah sakit. Saat ini kami menawarkan produk kebutuhan rumah sakit, klinik, maupun perorangan dengan harga
              terjangkau
            </div>
          </div>
          <img class="group-1345-1-G9laDQ bp2-animate-enter" src="{% static 'ptpha/img/group-1345-1-3@2x.png' %}" />
          <img class="group-1374-G9laDQ" src="{% static 'ptpha/img/group-1374@2x.svg' %}" />
        </div>
      </div>
      <div class="tentang-kami-I45tVA">
        <div class="group-1361-qpSlmv">
          <div class="description-Q78uQc nunito-normal-bright-gray-14px">
            PHA LINEN &amp; PHA Glove mengusung konsep infection prevention solution dengan mengedepankan cost
            effection, yaitu memberikan solusi dalam hal pencegahan infeksi di Rumah Sakit melalui pemilihan produk yang
            tepat baik dari fungsi dan harga yang terkontrol.<br /><br />PHA LINEN juga sangat selektif dalam pemilihan
            bahan baku yang Halal dan sesuai dengan Syariah, karena kami menghormati dan memahami kebutuhan Mayoritas
            Customer kami.
          </div>
        </div>
        <div class="group-1391-qpSlmv">
          <div class="group-1390-3GYyJk">
            <div class="description-kdpjoO nunito-normal-bright-gray-14px">
              Berbekal pengalaman di bidang distribusi alat kesehatan, melayani customer dengan baik dan setulus hati di
              dalam maupun luar kota, sejak awal tahun 2020 PT. PUTRA HARYANDA ALKESINDO berinovasi yang berkontribusi
              dalam pelayanan kesehatan khususnya alat kesehatan yang memproduksi kebutuhan Hospital Linen &amp;
              Examination Glove / Sarung Tangan Medis untuk Rumah Sakit dan Perorangan.
            </div>
            <div class="section-label-kdpjoO nunito-bold-tree-poppy-14px">ABOUT US</div>
            <div class="headline-kdpjoO nunito-extra-bold-eerie-black-28px">Tentang Perusahaan Kami</div>
          </div>
          <img class="img-1-3GYyJk bp2-animate-enter1" show-on-scroll src="{% static 'ptpha/img/img-1-2@2x.png' %}" />
        </div>
      </div>
      <div class="feature-multiple-3-I45tVA">
        <div class="group-1393-hIIYnq">
          <div class="section-title-AZ7mgn nunito-extra-bold-eerie-black-28px">Keunggulan Perusahaan</div>
          <div class="hal-yang-menjadi-prioritas-kami-AZ7mgn nunito-normal-mako-14px">
            Hal yang menjadi prioritas kami
          </div>
          <div class="group-1392-AZ7mgn">
            <div class="group-1359-4uK6Aa">
              <div class="headline-TVUjD9 nunito-bold-eerie-black-18px">Keamanan dan Kualitas</div>
              <div class="description-TVUjD9 nunito-normal-bright-gray-14px">
                Menyediakan dan menyalurkan alat-alat kesehatan dengan produk terbaik dari segi standar keamanan dan
                kualitas
              </div>
              <div class="group-1347-TVUjD9">
                <div class="ellipse-29-pcBx0M"></div>
                <img class="bxbxs-check-shield-pcBx0M" src="{% static 'ptpha/img/bx-bxs-check-shield-2@2x.svg' %}" />
              </div>
            </div>
            <div class="group-1360-4uK6Aa">
              <div class="headline-K9a2FO nunito-bold-eerie-black-18px">Pelayanan Terbaik</div>
              <div class="description-K9a2FO nunito-normal-bright-gray-14px">
                Memberikan pelayanan terbaik kepada customer
              </div>
              <div class="group-1347-K9a2FO">
                <div class="ellipse-29-xBviqK"></div>
                <img class="fluentchat-help-20-filled-xBviqK" src="{% static 'ptpha/img/fluent-chat-help-20-filled@2x.png' %}" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="feature-single-2-I45tVA">
        <div class="group-1350-WCsHCo">
          <div class="group-1349-EgCYSG">
            <div class="description-p6bnZS nunito-normal-eerie-black-14px">
              Visi dan Misi merupakan salah satu unsur yang harus ada dan dimiliki oleh sebuah perusahaan yang sehat.
              Kedua komponen ini menjadi arah dan pedoman atas semua proses pengambilan keputusan yang hendak dilakukan
              perusahaan.
            </div>
            <img class="creative-1-p6bnZS" src="{% static 'ptpha/img/creative-1-1@2x.png' %}" />
            <div class="section-label-p6bnZS nunito-bold-tree-poppy-14px">VISION &amp; MISION</div>
            <div class="headline-p6bnZS nunito-extra-bold-eerie-black-28px">Visi Misi Perusahaan</div>
          </div>
          <div class="group-1394-EgCYSG">
            <div class="x1-7nIXQs">
              <div class="feature-header-Hm0xuk">
                <div class="dot-EtdboH"></div>
                <div class="visi-EtdboH nunito-bold-eerie-black-18px">VISI</div>
              </div>
              <div class="maju-dan-berkembang-Hm0xuk nunito-normal-eerie-black-14px">
                “Maju dan berkembang sebagai perusahaan Supplier, Importir dan Distributor alat-alat kesehatan yang
                terpercaya serta diakui di Nasional maupun Internasional”.
              </div>
            </div>
            <div class="x2-7nIXQs">
              <div class="feature-header-XvDJet">
                <div class="dot-BI3jjC"></div>
                <div class="misi-BI3jjC nunito-bold-eerie-black-18px">MISI</div>
              </div>
              <div class="menyediakan-menyalur-XvDJet nunito-normal-eerie-black-14px">
                Menyediakan &amp; menyalurkan alat-alat kesehatan yang merupakan produk terbaik dari segi standar
                keamanan &amp; kualitas.<br />Memberikan pelayanan terbaik kepada pelanggan
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="feature-multiple-6-I45tVA">
        <div class="group-1395-UbeEgH">
          <div class="section-title-ZYkGED nunito-extra-bold-eerie-black-28px">
            Temukan Produk yang Anda Cari disini
          </div>
          <div class="features-list-ZYkGED">
            <div class="x1-Pr46UR smart-layers-pointers">
              <div class="group-1352-UOAPYJ">
                <div class="headline-g0FdpX nunito-bold-mako-14px">Perlengkapan<br />Rumah Sakit</div>
                <div class="group-1347-g0FdpX">
                  <div class="ellipse-29-x25B5w"></div>
                  <img class="phface-mask-fill-x25B5w" src="{% static 'ptpha/img/ph-face-mask-fill-2@2x.svg' %}" />
                </div>
              </div>
            </div>
            <div class="x16-Pr46UR smart-layers-pointers">
              <div class="group-1352-9bMFRc">
                <div class="headline-Nf9eex nunito-bold-mako-14px">Alat Emergency</div>
                <div class="group-1347-Nf9eex">
                  <div class="ellipse-29-7WHpK3"></div>
                  <img class="bxbxs-ambulance-7WHpK3" src="{% static 'ptpha/img/bx-bxs-ambulance-2@2x.svg' %}" />
                </div>
              </div>
            </div>
            <div class="x20-Pr46UR smart-layers-pointers">
              <div class="group-1352-PmnzFE">
                <div class="headline-ML1eLm nunito-bold-mako-14px">Furniture Rumah Sakit</div>
                <div class="group-1347-ML1eLm">
                  <div class="ellipse-29-Z18fdP"></div>
                  <img class="healthiconshospitalized-Z18fdP" src="{% static 'ptpha/img/healthicons-hospitalized-2@2x.svg' %}" />
                </div>
              </div>
            </div>
            <div class="x13-Pr46UR smart-layers-pointers">
              <div class="group-1352-DOCHgF">
                <div class="headline-45KrQl nunito-bold-mako-14px">Alat Kedokteran</div>
                <div class="group-1347-45KrQl">
                  <div class="ellipse-29-UWkujQ"></div>
                  <img class="bxbxs-injection-UWkujQ" src="{% static 'ptpha/img/bx-bxs-injection-2@2x.svg' %}" />
                </div>
              </div>
            </div>
            <div class="x17-Pr46UR smart-layers-pointers">
              <div class="group-1352-G2SUmQ">
                <div class="headline-6Z8Ji8 nunito-bold-mako-14px">Alat Radiologi</div>
                <div class="group-1347-6Z8Ji8">
                  <div class="ellipse-29-On6xmg"></div>
                  <img class="mdiradiology-box-On6xmg" src="{% static 'ptpha/img/mdi-radiology-box-2@2x.svg' %}" />
                </div>
              </div>
            </div>
            <div class="x21-Pr46UR smart-layers-pointers">
              <div class="group-1352-tx8Ikm">
                <div class="headline-vbRokm nunito-bold-mako-14px">Spare Part</div>
                <div class="group-1347-vbRokm">
                  <div class="ellipse-29-OCHbNx"></div>
                  <img class="claritytools-solid-OCHbNx" src="{% static 'ptpha/img/clarity-tools-solid-2@2x.svg' %}" />
                </div>
              </div>
            </div>
            <div class="x14-Pr46UR smart-layers-pointers">
              <div class="group-1352-pRasWq">
                <div class="headline-r07LvR nunito-bold-mako-14px">Alat monitor<br />Pasien</div>
                <div class="group-1347-r07LvR">
                  <div class="ellipse-30-aFwiN1"></div>
                  <img class="jammedical-aFwiN1" src="{% static 'ptpha/img/jam-medical-1@2x.svg' %}" />
                </div>
              </div>
            </div>
            <div class="x18-Pr46UR smart-layers-pointers">
              <div class="group-1352-M28ZWO">
                <div class="headline-6rLr8g nunito-bold-mako-14px">Alat Dental</div>
                <div class="group-1347-6rLr8g">
                  <div class="ellipse-29-xE6sjR"></div>
                  <img class="medical-iconi-dental-xE6sjR" src="{% static 'ptpha/img/medical-icon-i-dental-2@2x.svg' %}" />
                </div>
              </div>
            </div>
            <div class="x15-Pr46UR smart-layers-pointers">
              <div class="group-1352-rYWLOu">
                <div class="headline-BWbNYf nunito-bold-mako-14px">Alat Laboratorium</div>
                <div class="group-1347-BWbNYf">
                  <div class="ellipse-29-R4Nmx6"></div>
                  <img class="fa-solidmicroscope-R4Nmx6" src="{% static 'ptpha/img/fa-solid-microscope-1@2x.svg' %}" />
                </div>
              </div>
            </div>
            <div class="x19-Pr46UR smart-layers-pointers">
              <div class="group-1352-8nsvxH">
                <div class="headline-ooHgYm nunito-bold-mako-14px">Alat Bantu <br />Jalan</div>
                <div class="group-1347-ooHgYm">
                  <div class="ellipse-29-TIDIMp"></div>
                  <img class="riwheelchair-fill-TIDIMp" src="{% static 'ptpha/img/ri-wheelchair-fill-2@2x.svg' %} " />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="project-multiple-1-I45tVA">
        <div class="group-1397-K5ZaLv">
          <div class="group-1396-m5WzXc">
            <div class="group-1357-cUkz4w">
              <div class="project-title-DHOnFx nunito-bold-eerie-black-18px">PHA LINEN</div>
              <div class="project-tags-DHOnFx nunito-normal-eerie-black-14px">
                Alat kesehatan non-medis yang vital, karena digunakan oleh seluruh tenaga paramedis di seluruh rumah
                sakit dimana saja, terutama di ruang bedah, ruang V.K, ruang I.C.U., dan ruang rontgen, dan lain-lain
              </div>
              <div class="bg-color-DHOnFx"></div>
              <img
                class="screen_-shot_2022-01-10_at_1646-2-DHOnFx smart-layers-pointers"
                src="{% static 'ptpha/img/screen-shot-2022-01-10-at-16-46-2-2@2x.png' %}"
              />
            </div>
            <div class="group-1358-cUkz4w">
              <div class="project-title-RHtT1g nunito-bold-eerie-black-18px">PHA GLOVE</div>
              <div class="project-tags-RHtT1g nunito-normal-eerie-black-14px">
                Sarung tangan sekali pakai yang digunakan selama pemeriksaan medis dan prosedur untuk membantu mencegah
                kontaminasi silang antara pengasuh dan pasien
              </div>
              <div class="bg-color-RHtT1g"></div>
              <img
                class="screen_-shot_2022-01-10_at_1647-1-RHtT1g smart-layers-pointers"
                src="{% static 'ptpha/img/screen-shot-2022-01-10-at-16-47-1-2@2x.png' %}"
              />
            </div>
          </div>
          <div class="section-title-m5WzXc nunito-extra-bold-eerie-black-28px">Produk Terlaris Kami Saat Ini</div>
        </div>
      </div>
      <div class="cta-3-I45tVA" id="cta-3">
        <div class="group-1398-NjGyIE">
          <div class="project-tags-VtvVkv nunito-normal-white-14px">
            Silakan hubungi kami untuk informasi lebih lanjut
          </div>
          <div class="section-heading-VtvVkv">
            <div class="section-title-OjQxs5 nunito-extra-bold-white-28px">Hai ada yang bisa kami bantu?</div>
          </div>
          <div class="button-VtvVkv"><div class="label-1QY8B8 inter-medium-amaranth-14px">Hubungi Kami</div></div>
        </div>
      </div>
      <div class="footer-mini-6-I45tVA">
        <div class="group-1402-t1mk01">
          <div class="group-1400-OnZtGx">
            <div class="group-1399-ftexy8">
              <div class="alamat-QGkAt5 nunito-normal-white-16px">Alamat</div>
              <div class="group-1355-QGkAt5">
                <img class="phmap-pin-fill-rUxt20" src="{% static 'ptpha/img/ph-map-pin-fill-2@2x.svg' %}" />
                <div class="griya-elok-residence-rUxt20 nunito-normal-white-14px">
                  Griya Elok Residence Blok B No 3 Tahap II Jl Arai Pinang, Kel. Batung Taba Nan XX, Kec. Barangin, Kota
                  Padang, Sumatera Barat, Indonesia
                </div>
              </div>
            </div>
            <div class="group-1356-ftexy8">
              <div class="kontak-LvuPT5 nunito-bold-white-16px">Kontak</div>
              <div class="group-1353-LvuPT5">
                <img class="fluentmail-48-filled-HeTJ1z" src="{% static 'ptpha/img/fluent-mail-48-filled-1@2x.svg' %}" />
                <a href="mailto:pt.putraharyandaalkesindo@gmail.com" target="_blank"
                  ><div class="ptputraharyandaalkesindogmailcom-HeTJ1z nunito-normal-white-14px">
                    pt.putraharyandaalkesindo@gmail.com
                  </div>
                </a>
              </div>
              <div class="group-1354-LvuPT5">
                <img class="fluentcall-20-filled-MgIVec" src="{% static 'ptpha/img/fluent-call-20-filled-2@2x.svg' %}" />
                <div class="x082170512430-07516742046-MgIVec nunito-normal-white-14px">082170512430 / 07516742046</div>
              </div>
            </div>
          </div>
          <div class="group-1401-OnZtGx">
            <div class="pt-putra-haryanda-alkesindo-USX0j0 nunito-bold-white-18px">PT Putra Haryanda Alkesindo</div>
            <img
              class="screen_-shot_2022-01-14_at_1354-1-USX0j0"
              src="{% static 'ptpha/img/screen-shot-2022-01-14-at-13-54-1-2@2x.png' %}"
            />
            <div class="hospital-equipment-suppliers-USX0j0 nunito-normal-white-12px">Hospital Equipment Suppliers</div>
            <div class="x2020-pt-putra-haryan-USX0j0 nunito-normal-alto-10px">
              © {% now "Y" %} PT Putra Haryanda Alkesindo. All rights reserved
            </div>
          </div>
        </div>
      </div>
      <div class="header-I45tVA">
        <div class="group-1387-hIWbTx">
          <div class="group-1375-y0kUUS">
            <div class="tentang-kami-lbZk3N smart-layers-pointers nunito-bold-eerie-black-16px">Tentang Kami</div>
            <div class="visi-misi-lbZk3N smart-layers-pointers nunito-bold-eerie-black-16px">Visi Misi</div>
            <div class="produk-kami-lbZk3N smart-layers-pointers nunito-bold-eerie-black-16px">Produk Kami</div>
            <a href="#cta-3"
              ><div class="hubungi-kami-lbZk3N smart-layers-pointers nunito-bold-eerie-black-16px">Hubungi Kami</div>
            </a>
          </div>
          <div class="logo-y0kUUS"><img class="logo-TLhndv" src="{% static 'ptpha/img/logo-2@2x.png' %}" /></div>
        </div>
      </div>
    </div>
    <div class="desktop screen">
      {% block desktop_screen %}

      

      {% endblock %}
    </div>
    <div class="mobile screen">
      {% block mobile_screen %}
      

      {% endblock %}
      <div class="cta-4-LP8vkM">
        <div class="group-1406-ogXTFr">
          <div class="section-title-RItiG5">Hai ada yang bisa kami bantu?</div>
          <div class="project-tags-RItiG5 nunito-normal-white-12px">
            Silakan hubungi kami untuk informasi lebih lanjut
          </div>
          <div class="button-RItiG5"><div class="label-wmNq5r">Hubungi Kami</div></div>
        </div>
      </div>
      <div class="footer-mini-7-LP8vkM">
        <div class="group-1407-TeKug3">
          <div class="group-1372-nBxCof">
            <div class="pt-putra-haryanda-alkesindo-UxYxTs nunito-bold-white-18px">PT Putra Haryanda Alkesindo</div>
            <img class="screen_-shot_2022-01-14_at_1354-1-UxYxTs" src="{% static 'ptpha/img/screen-shot-2022-01-14-at-13-54-1@2x.png' %}" />
            <div class="hospital-equipment-suppliers-UxYxTs nunito-normal-white-12px">Hospital Equipment Suppliers</div>
          </div>
          <div class="group-1371-nBxCof">
            <div class="alamat-4mxK5m nunito-normal-white-14px">Alamat</div>
            <div class="group-1355-4mxK5m">
              <img class="phmap-pin-fill-2F9Vij" src="{% static 'ptpha/img/ph-map-pin-fill-4@2x.svg' %}" />
              <div class="griya-elok-residence-2F9Vij nunito-normal-white-12px">
                Griya Elok Residence Blok B No 3 Tahap II Jl Arai Pinang, Kel. Batung Taba Nan XX, Kec. Barangin, Kota
                Padang, Sumatera Barat, Indonesia
              </div>
            </div>
          </div>
          <div class="group-1356-nBxCof">
            <div class="kontak-DhMl3D">Kontak</div>
            <div class="group-1353-DhMl3D">
              <img class="fluentmail-48-filled-hulyNX" src="{% static 'ptpha/img/fluent-mail-48-filled-4@2x.svg' %}" />
              <a href="mailto:pt.putraharyandaalkesindo@gmail.com" target="_blank"
                ><div class="ptputraharyandaalkesindogmailcom-hulyNX nunito-normal-white-12px">
                  pt.putraharyandaalkesindo@gmail.com
                </div>
              </a>
            </div>
            <div class="group-1354-DhMl3D">
              <img class="fluentcall-20-filled-zfC6EW" src="{% static 'ptpha/img/fluent-call-20-filled-4@2x.svg' %}" />
              <div class="x082170512430-07516742046-zfC6EW nunito-normal-white-12px">082170512430 / 07516742046</div>
            </div>
          </div>
          <div class="x2020-pt-putra-haryan-nBxCof nunito-normal-alto-10px">
            © {% now "Y" %} PT Putra Haryanda Alkesindo. All rights reserved
          </div>
        </div>
      </div>
    </div>
    <script>
      function ShowOnScroll() {
        this.toShow = [];
        this.nextEventY = undefined;
      }

      ShowOnScroll.prototype.show = function (e) {
        e.style.display = "";
      };

      ShowOnScroll.prototype.hide = function (e) {
        e.style.display = "none";
      };

      ShowOnScroll.prototype.getTop = function (e) {
        if (e.Top != undefined && e.Top != 0) {
          return e.Top;
        }
        var top = 0;
        var iter = e;
        do {
          top += iter.offsetTop || 0;
          iter = iter.offsetParent;
        } while (iter);
        e.Top = top;
        return top;
      };

      ShowOnScroll.prototype.onScroll = function () {
        var screenBottom = window.pageYOffset + window.innerHeight;
        if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
          return;
        }
        this.nextEventY = undefined;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            this.show(e);
            this.toShow.shift();
            i--;
          } else {
            this.nextEventY = top;
            break;
          }
        }
      };

      ShowOnScroll.prototype.resetScrolling = function () {
        // Clear state
        var screenBottom = window.pageYOffset + window.innerHeight;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          this.show(e);
        }
        this.toShow = [];
        this.nextEventY == undefined;

        // Collect items
        var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
        itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
          return e.getAttribute("show-on-scroll") != undefined;
        });
        var getTop = this.getTop;
        itemsToShowOnScroll.sort(function (a, b) {
          return getTop(a) - getTop(b);
        });
        for (var i = 0; i < itemsToShowOnScroll.length; i++) {
          var e = itemsToShowOnScroll[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            continue;
          }
          this.toShow.push(e);
          this.hide(e);
          this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
        }
      };

      ShowOnScroll.prototype.handleEvent = function (e) {
        switch (e.type) {
          case "scroll":
            this.onScroll();
            break;
          case "resize":
            this.resetScrolling();
            break;
        }
      };

      ShowOnScroll.prototype.init = function () {
        this.resetScrolling();
        window.addEventListener("scroll", this);
        window.addEventListener("resize", this);
      };

      // After anima-src
      setTimeout(function () {
        var instShowOnScroll = new ShowOnScroll();
        instShowOnScroll.init();
      }, 250);
    </script>
  </body>
</html>
