{% comment %} <input name="id_kebutuhan" value="{{trs.id_kebutuhan}}" placeholder="Kode Produk" id="id_id_kebutuhan_modal" class="swal2-input"> {% endcomment %}
<select id="id_product_name_modal" class="swal2-input">
    {% for st in stok %}
    {% if st.pk == trs.product_name.pk %}
    <option data-price="{{st.harga_beli}}" value="{{st.pk}}" selected> {{sts}}</option>
    {% else %}
    <option data-price="{{st.harga_beli}}" value="{{st.pk}}"> {{st}}</option>
    {% endif %}
    {% endfor %}
</select>
<input name="jenis_kebutuhan" value="{{trs.jenis_kebutuhan}}" id="id_jenis_kebutuhan_modal" class="swal2-input">
<input name="quantity" value="{{trs.quantity}}" placeholder="Quantity" id="id_quantity_modal" class="swal2-input">
<input name="unit_price" value="{{trs.unit_price}}" placeholder="Harga Produk" id="id_unit_price_modal" class="swal2-input">