<select id="id_kebutuhan_modal" class="swal2-input">
    {% for bbn in beban %}
    {% if bbn.pk == trs.id_kebutuhan.pk %}
    <option data-price="{{bbn.unit_price}}" data-beban="{{bbn.jenis_biaya}}" value="{{bbn.pk}}" selected> {{bbn.kode_beban}}-{{bbn}}</option>
    {% else %}
    <option data-price="{{bbn.unit_price}}" data-beban="{{bbn.jenis_biaya}}" value="{{bbn.pk}}"> {{bbn.kode_beban}}-{{bbn}}</option>
    {% endif %}
    {% endfor %}
</select>
<input type="hidden" name="jenis_kebutuhan" value="{{trs.jenis_kebutuhan}}" placeholder="Jenis Kebutuhan" id="id_jenis_kebutuhan_modal" class="swal2-input">
<input name="quantity" value="{{trs.quantity}}" placeholder="Quantity" id="id_quantity_modal" class="swal2-input">
<input name="unit_price" value="{{trs.unit_price}}" placeholder="Unit Price" id="id_unit_price_modal" class="swal2-input">
<input type="hidden" name="amount" value="{{trs.amount}}" placeholder="Harga Produk" id="id_amount_modal" class="swal2-input">
<input type="hidden" name="total_kas" value="{{totalKas}}" placeholder="Total Kas" id="id_total_kas_modal" class="swal2-input">