
<input name="tgl_pencatatan" value="{{trs.tgl_pencatatan|date:'Y-m-d'}}" placeholder="Tanggal Pencatatan" id="id_tgl_pencatatan_modal" class="swal2-input">
<input name="no_transaksi" value="{{trs.no_transaksi}}" id="id_no_transaksi_modal" class="swal2-input">
<input name="pengirim" value="{{trs.pengirim}}" id="id_pengirim_modal" class="swal2-input">
<input name="bank_pengirim" value="{{trs.bank_pengirim}}" id="id_bank_pengirim_modal" class="swal2-input">
<input name="nominal" value="{{trs.nominal}}" placeholder="Harga Produk" id="id_nominal_modal" class="swal2-input">
